---
layout: default
title: rpm.org - Download
---

{% assign project = site.data.projects | where: "name", "rpm" | first %}

<h2>Download</h2>
<p>Source tarballs of the stable (supported) and development RPM releases.</p>

<h3>Stable Releases</h3>
{% assign series_list = site.releases |
    where: "draft", false |
    where: "snapshot", false |
    where: "supported", true |
    sort: "series" | reverse | group_by: "series" %}
{% for series in series_list %}
    <h4>{{ project.title }} {{ series.name }}</h4>
    <ul>
    {% for release in series.items %}
        <li><a href="{{ release.tarball }}">{{ release.title }}</a>
            (<a href="releases/{{ release.version }}">Release notes</a>)
        </li>
    {% endfor %}
    </ul>
{% else %}
    <li>N/A</li>
{% endfor %}

<h3>Development</h3>
{% assign series_list = site.releases |
    where: "draft", true |
    sort: "series" | reverse | group_by: "series" %}
<ul>
{% for series in series_list %}
    {% for release in series.items %}
        <li><a href="{{ release.parent.tarball }}">{{ release.parent.title }}</a>
            (<a href="releases/{{ release.parent.slug }}">Release notes</a>)
        </li>
    {% endfor %}
{% else %}
    <li>N/A</li>
{% endfor %}
</ul>

<h3>POPT</h3>
<ul>
    <li><a href="https://ftp.osuosl.org/pub/rpm/popt/releases/popt-1.x/popt-1.19.tar.gz">POPT 1.19</a>
        (<a href="https://github.com/rpm-software-management/popt/releases/tag/popt-1.19-release">Release notes</a>)
    </li>
</ul>

<p>For older releases, head over to the <a href="timeline.html">timeline.</a></p>
