---
layout: default
title: rpm.org - Releases
---

{% assign project = site.data.projects | where: "name", "rpm" | first %}

<h2>Releases</h2>

{% for series in project.series %}
    <h4>{{ project.title }} {{ series }}</h4>
    <ul>

    {% assign release_list = site.releases |
        where: "series", series |
        where: "draft", false |
        sort: "date" | reverse %}
    {% assign stable_list = release_list |
        where: "snapshot", false %}

    {% if stable_list == empty %}
        {% assign release_list = release_list | slice: 0, 1 %}
    {% else %}
        {% assign release_list = stable_list %}
    {% endif %}

    {% for release in release_list %}
        <li>
            <a href="{{ release.slug }}">{{ release.title }}</a>
        </li>
    {% endfor %}

    </ul>
{% endfor %}

<h3>POPT</h3>
<ul>
    <li><a href="https://github.com/rpm-software-management/popt/releases/tag/popt-1.19-release">POPT 1.19</a>
    </li>
</ul>

<p>For older releases, head over to the <a href="/timeline">timeline</a>.</p>
