---
layout: default
---

{% assign title = page.title | append: " Release Notes" %}
{% if page.draft %}
    {% assign title = title | append: " (DRAFT)" %}
{% endif %}

<h1>{{ title }}</h1>

<p>
{% if page.draft %}
    <strong>Last change:</strong> {{ page.date | date: "%Y-%m-%d" }}
{% else %}
    <strong>{{ page.date | date: "%B %d, %Y" }}</strong>
{% endif %}
</p>

{% if page.summary %}
    <p>{{ page.summary }}.</p>
{% endif %}
{% if page.snapshot %}
    <p>
        {% if page.checksum %}
            For more information on the upcoming {{ page.version }} release,
        {% else %}
            This candidate has been promoted for the final release. For
            download information,
        {% endif %}
        see the <a href="{{ page.version }}">full release notes</a>.
    </p>
{% endif %}

{% if page.draft %}
    <p>This release is a work in progress and the page is continuously
    updated.</p>
    {% if page.parent %}
        <p>To obtain a development release for testing purposes, see the
        <a href="{{ page.parent.slug }}">
            {{ page.parent.snapshot }} release notes</a>.</p>
    {% endif %}
{% endif %}

{% if page.checksum %}
    {% assign filename = page.tarball | split: "/" | slice: -1, 1 %}
    <h3>Download</h3>
    <ul>
        <li>Source: <a href="{{ page.tarball }}">{{ filename }}</a></li>
        <li>SHA256SUM: {{ page.checksum }}</li>
    </ul>
{% endif %}

{% if page.snapshot == false or page.overview %}
<h3>Changes since {{ page.baseline }}</h3>
{% if page.snapshot == false and page.overview %}
    <h4>Overview</h4>
{% endif %}
{% endif %}
{{ page.content }}
